.appContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  font-family: monospace;
  display: flex;
  width: calc(100% - 25px);

  overflow: scroll;
  background-color: #ffffff;
  margin: auto;
  box-shadow: -5px -5px 0px 0px #000000;

  box-sizing: border-box;
  border: 1px solid black;

  animation-name: wrapperAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
    height: auto;
    margin-top: 20px;
  }
}

@keyframes wrapperAnimation {
  from {
    box-shadow: -5px -5px 0px 0px #000000;
  }
  to {
    box-shadow: 5px 5px 0px 0px #000000;
  }
}

@keyframes borderAnimation {
  from {
    border: 3px solid black;
  }
  to {
    border: 3px solid rgb(37, 162, 89);
  }
}
