.appContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  font-family: monospace;
  display: flex;
  height: calc(100vh - 25px);
  overflow: scroll;
  background-color: #ffffff;
  width: calc(100% - 25px);
  margin: auto;
  box-shadow: -5px -5px 0px 0px #000000;

  box-sizing: border-box;
  border: 3px solid black;
  animation: 3s linear 1s infinite alternate none running wrapperAnimation;
}

@keyframes wrapperAnimation {
  from {
    box-shadow: -5px -5px 0px 0px #000000;
  }
  to {
    box-shadow: 5px 5px 0px 0px #000000;
  }
}

@keyframes borderAnimation {
  from {
    border: 3px solid black;
  }
  to {
    border: 3px solid rgb(37, 162, 89);
  }
}
