.appContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: linear-gradient(
    309deg,
    #ebddff,
    #fbfbfb,
    #e1fbf3,
    #ffffff,
    #f0dffd
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}

.App {
  font-family: monospace;
  display: flex;
  width: calc(100% - 25px);
  height: calc(100% - 25px);

  overflow: scroll;
  background: #ffffff;
  /* background-color: ; */
  margin: auto;
  /* box-shadow: -5px -5px 0px 0px #000000; */

  box-sizing: border-box;
  border: 2px solid black;
}

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .App {
    height: auto;
  }
}

@keyframes borderAnimation {
  from {
    border: 3px solid black;
  }
  to {
    border: 3px solid rgb(37, 162, 89);
  }
}
